.root {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}
.title {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}
.card {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 8;
    -fx-padding: 20;
}
